@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,Verdana,sans-serif;
  color: #333;
  font-size: 1.2rem;
  background-color: #F0F2F2;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  min-height: 90vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

.page-title {
  font-size: 40px;
  margin: 70px auto;
  text-align: center;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  font-family: serif;
  width: 40%;
  font-size: 30px;
  color: #fff;
  letter-spacing: .2rem;
  padding: 0 50px;
}

.header .menu {
  padding: 0 50px;
}

.header .menu-item {
  display: inline;
  padding: 0 15px;
}

.header .menu-item-link {
  font-size: 1.8rem;
  color: #fff;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.footer .copy {
  font-size: 14px;
  color: #fff;
  letter-spacing: .3rem;
  line-height: 50px;
}

.form {
  width: 60%;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.form .control-label {
  font-size: 20px;
  padding-bottom: 10px;
}

.form .form-control {
  padding: 15px;
  font-size: 18px;
  letter-spacing: .3px;
  margin-bottom: 20px;
}

.search-form {
  width: 80%;
  margin: 0 auto;
}

.button {
  font-size: 18px;
  color: #fff;
  background-color: #51C7F0;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 2px 2px 4px #999;
          box-shadow: 2px 2px 4px #999;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  opacity: .8;
}

.button-post {
  width: 40%;
  background-color: limegreen;
  margin-top: 50px;
}

.button-search {
  font-size: 19px;
  height: 36px;
  background-color: skyblue;
  color: #fff;
  border: none;
}

.input-file {
  height: 60px;
}

.container.mypage {
  width: 60%;
}

.prof {
  margin-bottom: 50px;
  padding: 30px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.prof-img {
  width: 20%;
  height: 20%;
  padding: 10px;
  margin: 30px;
}

.prof-name {
  font-size: 23px;
  font-weight: bold;
  padding: 10px 20px;
}

.prof-text {
  font-size: 18px;
  padding: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.prof-btn .button {
  margin: 10px;
  color: #fff;
}

.prof .withdraw {
  text-align: right;
}

.prof .withdraw a {
  color: skyblue;
}

.prof .withdraw a:hover {
  color: red;
}

.check-text {
  font-size: 17px;
  padding: 20px 10px;
  line-height: 1.4;
  font-weight: bold;
}

.check-text-top {
  font-size: 18px;
  padding: 50px 0;
}

.check-img {
  width: 30%;
  height: 30%;
  margin-bottom: 30px;
}

.back-link {
  font-size: 12px;
  display: inline-block;
  margin-top: 30px;
}

.back-link:hover {
  color: skyblue;
}

.bord-name {
  font-size: 20px;
  font-weight: bold;
  margin: 15px 5px;
}

.bord-img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  background: #f1f1f1;
}

.text-label {
  margin: 20px 0;
}

.bord {
  width: 70%;
  margin: 100px auto;
  padding: 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.bord-thumbnail {
  width: 100px;
  height: 100px;
  background-color: #fff;
  overflow: hidden;
}

.bord-thumbnail img {
  max-width: 100%;
}

.bord .username {
  font-size: 18px;
  margin: 10px;
}

.bord .message-info {
  color: #777;
  font-size: 15px;
  margin: 10px;
}

.bord .edit-link {
  color: skyblue;
  padding-left: 10px;
  padding-right: 5px;
}

.bord .delete-link {
  color: red;
}

.bord .message-content {
  margin: 30px 0;
  padding: 30px;
  background-color: limegreen;
  border-radius: 7px;
  line-height: 1.3;
  letter-spacing: .3px;
  display: inline-block;
}

.bord .message-content .message-text {
  font-size: 18px;
}

.bord .message-content .upload-img {
  width: 200px;
  height: auto;
  display: block;
}

.bord .paging {
  color: skyblue;
  font-size: 16px;
}
/*# sourceMappingURL=style.css.map */