.button {
    font-size: 18px;
    color: #fff;
    background-color: #51C7F0;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 4px #999;
    transition: .3s;
    &:hover {
        opacity: .8;
    }
    &-post {
        width: 40%;
        background-color: limegreen;
        margin-top: 50px;
    }
    &-search {
        font-size: 19px;
        height: 36px;
        background-color: skyblue;
        color: #fff;
        border: none;
    }
}
.input-file {
    height: 60px;
}